* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

img {
  max-width: 100%;
}

/* Media query */

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}
