.home-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
  flex-direction: row-reverse;
}
.home-banner-background {
  position: absolute;
  top: -122px;
  z-index: -2;
  max-width: 550px;
}

.home-image {
  width: 650px;
  margin-right: 50px;
}

.home-text-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  background: -webkit-linear-gradient(45deg, #228b22, #adff2f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  max-width: 700px;
  color: #4f4f4f;
  margin: 15px 3.5rem;
}

.secondary-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-weight: 700;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #4f4f4f, -6px -6px 12px #ffffff;
}
.secondary-button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.6s ease;
  display: block;
  z-index: -1;
}

.secondary-button:hover::before {
  width: 9em;
}

.about-section-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  position: relative;
  display: flex;
  align-items: center;
}

.about-banner-background {
  position: absolute;
  left: -1px;
  z-index: -2;
  top: -100px;
  width: 320px;
}
.about-image {
  width: 700px;
  margin-left: 50px;
}

.about-section-text-container {
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .home-banner-background,
  .primary-heading {
    max-width: 420px;
  }
  .about-image {
    width: 500px;
    margin: auto;
    margin-bottom: 500px;
  }
}

@media (max-width: 900px) {
  .home-banner-background {
    max-width: 280px;
  }
  .primary-text {
    font-size: 25px;
    width: 350px;
    margin: 10px auto;
    margin-top: 30px;
  }

  .home-image {
    margin: 1px auto;
    max-width: 250px;
  }

  .about-image {
    width: 400px;
    margin: 280px -10px 800px;
    margin-bottom: 600px;
  }
}

@media (max-width: 800px) {
  .home-banner-background {
    max-width: 280px;
  }

  .about-image {
    max-width: 350px;
    margin: auto;
  }

  .about-banner-background {
    max-width: 300px;
    top: 150px;
  }
  .about-section-text-container {
    font-size: 25px;
    width: 250px;
    flex: 2;
  }

  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .primary-subheading {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .home-banner-background,
  .home-image,
  .about-banner-background,
  .about-image {
    display: none;
  }
  .home-text-section,
  .about-section-text-container {
    margin: auto;
  }

  .primary-heading {
    margin: auto 20px;
  }
}
