nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  margin-top: 1rem;
}

.nav-logo {
  width: 130px;
  margin-left: 50px;
}

.navbar-links-container {
  display: flex;
  margin-right: 80px;
  gap: 1.5rem;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
}

.navbar-links-container:hover a {
  filter: blur(3px);
}

.navbar-links-container a:hover {
  filter: blur(0px);
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.navbar-menu-container {
  display: none;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  margin-left: 12rem;
}

.navbar-drawer {
  margin-top: 20px;  
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .nav-logo {
    width: 80px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}
