nav {
  display: flex;
  width: 100vw;
  margin-top: 1.3rem;
}

.nav-logo {
  width: 130px;
  margin-left: 50px;
}

.navbar-links-container {
  display: flex;
  margin-right: 60px;
  gap: 1.5rem;
}

.navbar-links-container a {
  color: #000000;
  margin-right: 3rem;
  text-decoration: none;
  transition: 0.25s ease;
  font-size: 18px;
}

.navbar-links-container a:hover {
  color: #228b22;
  box-shadow: 0 2px 0 0 currentcolor;
}

.navbar-menu-container {
  display: none;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 12rem;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .nav-logo {
    width: 100px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}
