#footer {
  background: url(../../assets/footer-banner.jpg) no-repeat center/cover;
  width: 100%;
  height: 254px;
  margin-top: 50px;
}

#footer img {
  margin-top: 16px;
  width: 120px;
}

#footer div {
  margin-left: 20px;
}


#footer section span {
  cursor: pointer;
  margin-top: 4px;
  font-size: 24px;
  padding: 7px;
}

#footer span:hover {
  background-color: #32540f;
  opacity: 0.7;
}

#footer p {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: 14px;
  opacity: 0.7;
  font-weight: 700;
  color: white;
}

@media (max-width: 800px) {
  #footer img {
    margin-top: 16px;
  }
  #footer div {
    display: flex;
    flex-direction: column;
  }
}
