#footer {
  background: url(../../assets/footer-banner.jpg) no-repeat center/cover;
  width: 100%;
  height: 276px;
  margin-top: 50px;
}

#footer img {
  margin-top: 16px;
  width: 120px;
}

#footer div {
  margin-left: 20px;
}

#footer section span {
  cursor: pointer;
  font-size: 24px;
  padding: 7px;
  margin: 2px;
  border-radius: 60%;
}

#footer span:hover {
  background-color: #54813f;
  opacity: 0.7;
}

#footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 85px;
  font-size: 14px;
  opacity: 0.7;
  font-weight: 700;
  color: white;
}
#footer a {
  text-decoration: none;
  color: #0fd850;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 800px) {
  #footer img {
    margin-top: 15px;
  }
  #footer div {
    display: flex;
    flex-direction: column;
  }
  #footer p {
    font-size: 13px;
    width: 100%;
    bottom: 0;
  }
}

@media (max-width: 700px) {
  #footer {
    margin-top: -70px;
  }
}
