* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
}

img {
  max-width: 100%;
}

hr {
  margin: 2rem auto;
  width: 50%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

footer {
  background: url(./assets/footer-banner.jpg) no-repeat center/cover;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
}

.App {
  min-height: 100%;
  max-width: 1900px;
  margin: auto;
}

.nav-logo {
  margin-left: 30px;
}

.navbar-links-container a {
  margin-right: 4rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.navbar-menu-container {
  display: none;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Home */

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -124px;
  right: -10px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* About */

.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.primary-text-about {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

/* Footer */

.footer-sections {
  display: flex;
  justify-content: space-evenly; 
  flex-decoration: row;
  flex-wrap: wrap;     
  gap: 20px;
  margin: 0px auto;
  padding: 16px;
  max-width: 120px;
  border: 1px solid green;
}

.footer-logo {
  display: flex; 
  align-items: center;
  margin: auto;  
  margin-bottom: 8px;
  border: 1px solid blue;
}

.footer-social-links {
  display: flex;
  gap: 16px;
  cursor: pointer;
  border: 1px solid red;
}

.footer-rodape {
  min-heading: 60px;
  margin-top: 52px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  opacity: .8;  
}

/* Button */

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

/* Media query */

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }

  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .about-section-container {
    margin-top: 5rem !important;
  }

  .primary-subheading {
    text-align: center;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-section-two {
    font-size: 15px;
  }
  .footer-logo-container {
    display: none;
  }

  .footer-icons {
    display: flex;
    justify-content: flex-start;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}
